/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 767px) {
	/*common title area*/
	.common-title p {
    padding: 0px 0px;
	}
	.common-title h1 {
    font-size: 29px;
	}
	.common-title p {
    font-size: 18px;
	}
	/*feature area*/
	.feature-boxes .f-box-wrapper .icon i {
    font-size: 35px;
	}
	.feature-boxes .f-b-content p {
    padding-right: 0px;
	}
	.feature-section {
    padding: 50px 0px;
	}
	.feature-boxes {
    margin-top: 20px;
	}
	/*feature area end*/
	.support-section {
    padding: 50px 0px;
	}
	/*footer*/
	.footer-section{
	padding: 0px 0px 60px 0px;
	}

}
@media (max-width: 575.98px) {
/*header start*/
	header nav ul li{
		text-align: right;
		margin: 0px;
		}
		header nav ul li a {
	    font-size: 18px;
		}
	.banner-section .banner-content {
	    margin-top: 0px;
		}
	.banner-section .banner-content h1 {
	    font-size: 27px;
		}
	.banner-section .banner-content h2 {
	    padding-right: 0px;
		}
	.banner-section .banner-content p {
	    padding-right: 0px;
		}
	/*header end*/
	/*features*/
	.feature-boxes .f-b-content h2 {
    margin: 10px 0px;
	}
	.icon {
    text-align: left!important;
	}
	/*features end*/
	/*footer*/
	.su-form .btn-custom{
		margin-top: 25px;
	}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
/*header start*/
	header nav ul li{
		text-align: right;
		margin: 0px;
		}
	.banner-section .banner-content {
	    margin-top: 0px;
		}
	.banner-section .banner-content h2 {
	    padding-right: 0px;
		}
	.banner-section .banner-content p {
	    padding-right: 0px;
		}
	/*header end*/
	
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

	/*header start*/
	header nav ul li{
		text-align: right;
		margin: 0px;
	}
	.banner-section .banner-content {
	    margin-top: 0px;
	}
	.banner-section .banner-content h2 {
    padding-right: 0px;
	}
	.banner-section .banner-content p {
    padding-right: 0px;
	}
	/*header end*/
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

	
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

	
}
