body{
	font-family: 'PT Sans', sans-serif;
}
html{
	scroll-behavior: smooth;
}
/*reusable code start*/
.common-title{
	text-align: center;
}
.common-title h1{
	font-size: 32px;
	font-weight: 700;
	color: #010101;
}
.common-title p{
	font-size: 20px;
	font-weight: 400;
	color: #313841;
	padding: 0px 55px;
}
ul{
	padding: 0;
}
/*reusable code end*/
/*haeder start*/
header{
	padding: 15px 0px;
	background: #FCDB00;
}
/*header .fixed-top {
    background: red;
    width: 100%;
    width: 1140px;
    margin: auto;
}*/
header nav ul{}
header nav ul li{
	margin: 0px 30px;
}
header nav ul li:last-child{
	margin-right: 0px;
}
header nav ul li a{
	font-size: 22px;
	font-weight: bold;
	color: #010101 !important;
	transition: .3s;
}
header nav ul li a:hover{
	color: #fff !important;
}
/*haeder end*/
/*banner start*/
.banner-section{
	background: #FCDB00;
	padding-bottom: 90px;
}
.banner-section .banner-content{
	margin-top: 70px;
}
.banner-section .banner-content h1{
	font-size: 32px;
	font-weight: 700;
	color: #010101;
}
.banner-section .banner-content h2{
	font-size: 20px;
	font-weight: 400;
	color: #313841;
	padding-right: 66px;
	margin: 30px 0px 20px 0px;
}
.banner-section .banner-content p{
	font-size: 16px;
	font-weight: 400;
	color: #555555;
	padding-right: 20px;
	margin-bottom: 40px;
}
.banner-section .banner-content .b-icon{
	list-style-type: none;
	padding: 0;
}
.banner-section .banner-content .b-icon li{
	font-size: 42px;
	color: #010101;
	margin-right: 35px;
}
.banner-section .banner-img{
	text-align: center;
}
.banner-section .carousel-indicators {
    bottom: -75px;
}
.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
/*banner end*/
/*feature-section start*/
.feature-section{
	padding: 90px 0px;
}
.feature-boxes{
	margin-top: 40px;
}
.feature-boxes .f-box-wrapper .icon i{
	font-size: 43px;
	color: #010101;
}
.feature-boxes .f-b-content h2{
	font-size: 22px;
	font-weight: 400;
	color: #010101;
}
.feature-boxes .f-b-content p{
	font-size: 16px;
	color: #898989;
	padding-right: 42px;
}
/*feature-section end*/
/*support-section start*/
.support-section{
	padding: 90px 0px;
	background: #232527;
}
.support-section .common-title h1{
	color: #fcdb00;
} 
.support-section .common-title p{
	color: #898989;
}
.su-form{
	margin-top: 30px;
}
.custom-input{
	width: 100%;
	height: 45px !important;
	border-radius: 5px;
}
.btn-custom{
	font-weight: 700;
	width: 100%;
	height: 45px;
	border-radius: 5px;
	outline: none;
	border: 1px solid #fcdb00;
	background: #fcdb00;
	transition: .3s;
}
.btn-custom:hover{
	opacity: 0.8;
}
.social-i{
	text-align: center;
	margin-top: 60px;
}
.social-i ul{
	list-style-type: none;
}
.social-i ul li{
	display: inline-block;
	margin: 0px 10px;
}
.social-i ul li a{
	text-decoration: none;
}
.social-i ul li a i{
	font-size: 24px;
	color: #010101;
	width: 40px;
	height: 40px;
	background: #fcdb00;
	text-align: center;
	line-height: 40px;
	border-radius: 7px;
	transition: .3s;
}
.social-i ul li a i:hover{
	transform: scale(1.08);
	opacity: 0.8;
}
/*support-section end*/
/*footer-section start*/
.footer-section{
	padding: 0px 0px 90px 0px;
	background: #232527;
}
.f-text-list{
	font-size: 16px;
	color: #ffffff;
}
.f-text-list ul{
	list-style-type: none;
}
.f-link-list a{
	font-size: 16px;
	color: #ffffff;
}
/*footer-section end*/
